# Maven/Gradle build outputs
target/
build/
.gradle/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# IDE files (IntelliJ, Eclipse, VS Code)
.settings/
.classpath
.project
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Compiled classes and files
*.class
*.jar
*.war
*.ear

### Obsidian ###
# config dir
.obsidian/

# Others
.DS_Store
logs/
*.log
